@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}


#contenedor{
width:850px ;
height:940px ;
margin-left: auto;
margin-right: auto;
border-width: 2px;
border-style: solid;
}

/*FONDO*/

body{
	background-image:url(../img/fondo.png) ; 
}

/* HEADER */

.header{
	justify-content: space-between;
	align-items: center;
	display: flex;
	height: 85px;
	padding: 5px 10%;
}

/* LOGO */

.header .logo img{
	height: 50px;
	width: auto;
	float: left;
	margin: 0px;
	transition: 0.3s;
}
.header .logo img:hover{
	transform: scale(1.2);
}


/* MENU DE NAVEGACION */

.header .nav-links a{
    text-decoration:none;
    color:inherit;
    font-size:12px;
    text-align:right;
    } 

.header .nav-links li{
    display:inline-block;
    width:10%;
    padding:20px 40px;
    margin: 10px;
    text-align:right;
    color:#000;
    float: right;
   font-weight: bold;
   padding-bottom: 3px;
    }

.header .nav-links li:hover{
    color:#e8a600;
    text-align:right;
    font-weight: bolder;
    transition: 0.3s;
    transform: scale(1.1);
    }

/* BODY */
#article{
	height: 750px;
	margin-left: auto;
	margin-right: auto;
	border-width: 2px;
	border-style: solid;
	position: relative;

}
#ikaris{
	height: 300px;
	width: auto;
	float: right;
	object-fit: cover;
}
#caja-texto{
	height:300px ;
	width: 60%;
	float: left;
	display: flex;
	margin: 25px;


}

h1{
	font-size: 12px;
}
h2{
	font-size: 18px;
}
#parrafo1{
	font-size: 12px;
}


#footer{
	height: 500px;
margin-left: auto;
margin-right: auto;
border-width: 2px;
border-style: solid;
}